*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header, #footer{
    display: flex;
    background-color: #48773B;
    width: 100%;
    height: 3vh;
}
#header p, #header a, #footer p{
    text-decoration: none;
    color: black;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
}
#log-in{
    background-color: #ececec;
    width: 10%;
}
#line-above, #main{
    display: flex;
    width: 100%;
}
#search-and-filter, #information, #rating, #nav, #content, #search-and-filter fieldeset{
    display: flex;
}
#search-and-filter, #information, #rating, #nav{
    width: 15%;
    background-color: #88B77B;
}
#search-and-filter, #information, #rating{
    height: 10vh;
}
#search-and-filter{
    background-color: #68975B;
}
#search-and-filter form{
    padding: 0 5%;
    border-style: none;
    margin: auto;
}
#search-and-filter fieldset{
    border-style: none;
}
#search-and-filter input{
    width: 90%;
    background-color: #ececec;
    border-style: none; 
}
#rating{
    width: 70%;
    border-left: 3px solid black;
}
.text{
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}
#nav{
    height: 84vh;
}
#content{
    height: 84vh;
    width: 85%;
}

