
/*@font-face {
    src: url('./assets/electra/Elektra Text Pro обычный.eot');
    font-family: 'electra';
    src: url('./assets/electra/Elektra Text Pro обычный.otf');
}*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'electra';*/
    font-family: Candara;
    font-size: 14px;
    text-decoration: none;
    color: #3b3b3b;
    text-align: left;
    position: relative;
}
.nav-bar-item {
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    left: 1vh;
}
.footer-item {
    font-style: italic;
    font-size: 20px;
}
.v-header {
    padding: 4px;
    height: 5vh;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffa854
 }
.header-font-size {
    font-size: 16px !important;
}
.no-outline, .no-outline:active , .no-outline:focus {
    outline: none;
}
.dropdown-profile {
    width: 21vh;
    border: 2px solid #9b9b9b;
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
}
.dropdown-search {
    width: 55vh;
    height: 41vh;
    border: 2px solid #9b9b9b;
    display: none;
    position: absolute;
    top: 3vh;
    left: -5vh;
    background-color: #ffffff;
    z-index: 1;
}
.v-footer {
    width: 100%;
    height: 3vh;
    padding: 4px;
    display: flex;
    position: fixed;
    bottom: 0;
}
.home {
    position: fixed;
}
.v-header {
    z-index: 100;
    position: fixed;
}
.log-in {
    position: fixed;
    right: 6vh;
    width: 10%;
}
.log-in-button {
    width: 13vh;
    height: 5vh;
    background-color: rgba(132,207,150,1) !important;
}
.v-search {
    height: 100%;
    width: 20%;
    position: relative;
    left: 0;
    display: flex;
    background-color: #EEEEEE;
}
.search-top {
    border-right: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    width: 100%;
    display: block;
}
.search-pathname {
    position: relative;
    height: 30%;
    width: 100%;
}
.list-item {
    height: 8vh;
    margin: 0 5% 0 5%;
    cursor: pointer;
    border-bottom: 1px solid #9b9b9b;
}
.list-item-last {
    height: 4vh;
    margin: 0 5% 0 5%;
    cursor: pointer;
}
.list-item-text {
    position: absolute;
    left: 2.5vh;
    top: 0;
    margin: 0;
    font-size: 16px;
    color: #5b5b5b;
}
.list-item-search {
    height: 10vh;
    margin: 0 5% 0 5%;
    cursor: pointer;
    border-bottom: 1px solid #9b9b9b;
}
.list-item-search-last {
    height: 10vh;
    margin: 0 5% 0 5%;
    cursor: pointer;
}
.list-item-text-search {
    margin: 0;
    font-size: 16px;
    color: #5b5b5b;
}
.list-item-text-search-bold {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    color: #5b5b5b;
}
.v-info {
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    background-color: #EEEEEE;
}
.v-home {
    height: 95vh;
    display: inline;
    position: relative;
    top: 5vh;
    overflow: hidden;
}
.v-list {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #EEEEEE;
    height: 100%;
    /*border-right: 2px solid #DDDDDD;*/
}
.v-content {
    height: 96%;
    display: flex;
    width: 80%;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
}
.right-block {
    height: 95vh;
    width: 85%;
    margin: 0;
    float: right;
    display: block;
}
.left-block {
    margin: 0;
    width: 15%;
    height: 95vh;
    display: flex;
    position: relative;
    top: 0;
    float: left;
}
.tab {
    margin: 0;
    width: auto;
    height: 100%;
    position: relative;
    top: 0;
    padding: 1vh;
}

.info-top {
    height: 4%;
    width: 100%;
    display: block;
}
.info-block {
    width: 100%;
    height: 70%;
    margin: 0;
    border-bottom: 2px solid #DDDDDD;
    display: inline-flex;
}
.info-tabs {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-flex;
}
.form-search {
    width: 95%;
    height: 100%;
    padding-left: 2.5%;
    margin: 0;
    text-align: left !important;
    display: inline-flex;
}
.fieldset-search {
    border-style: none;
}
#input-search, #input-search:active, .input-search {
    position: relative;
    outline: none;
    top: 0;
    left: 1vh;
    height: 100%;
    text-align: left;
    width: 80%;
    background-color: rgba(256,256,256, 0);
    color: #444444;
    border: none;
    margin: 0;
}
.search-block {
    width: 90%;
    height: 3vh;
    margin: auto 1vh auto 0;
    border-width: 1px;
    border-color: #d0ae8e;
    background-color: rgba(256,256,256,0.75);
    border-style: solid;
    border-radius: 1.5vh;
    display: inline-flex;
}
.label-search {
    margin: 0;
}
.search-icon, .search-icon:active, .search-icon:focus {
    width: 2vh;
    height: 2vh;
    outline: none;
    -webkit-mask-position-y: 50%;
    -webkit-mask-position-x: 50%;
    position: relative;
    top: 0.25vh;
    border-style: none;
    background-color: #999999;
    -webkit-mask: url("../node_modules/bootstrap-icons/icons/search.svg") no-repeat 100%;
    mask: url("../node_modules/bootstrap-icons/icons/search.svg") no-repeat 100%;
    margin: 0 0 0 0.5vh;
}
.upload-icon, .upload-icon:active, .upload-icon:focus {
    outline: none;
    position: relative;
    border: none;
    margin: 1vh 1% 1vh 0;
    width: 3vh;
    height: 3vh;
    background-color: #ffffff;
    background-size: 100%;
    -webkit-mask: url("../node_modules/bootstrap-icons/icons/list.svg") no-repeat 100%;
    mask: url("../node_modules/bootstrap-icons/icons/list.svg") no-repeat 100%;
    -webkit-mask-position-x: 50%;
    -webkit-mask-position-y: 50%;
    cursor:default;
}
.comments-icon {
    width: 3vh;
    height: 3vh;
    outline: none;
    position: relative;
    top: 1.5vh;
    margin: 0 0 0 0;
    border: none;
    background-color: #ffffff;
    background-size: 100%;
    -webkit-mask: url("../node_modules/bootstrap-icons/icons/chat-right-text-fill.svg") no-repeat 100%;
    mask: url("../node_modules/bootstrap-icons/icons/chat-right-text-fill.svg") no-repeat 100%;
    -webkit-mask-position-x: 50%;
    -webkit-mask-position-y: 50%;
}
.search-button {
    position: relative;
    top: -1vh;
    width: 9vh;
    height: 4vh;
}
.log-in-form-button {
    width: 9vh;
    height: 4vh;
}
.list-wrapper {
    height: 90vh;
    overflow: auto;
    margin: 0;
    width: 100%;
}
.avatar {
    height: 4.7vh;
    width: 4.7vh;
    margin: 0.4vh 0vh;
    border-radius: 50%;
}
.close-icon {
    outline: none;
    position: relative;
    border: none;
    margin: auto 2.5% auto 0;
    width: 3vh;
    height: 3vh;
    background-color: #999999;
    background-size: 100%;
    -webkit-mask: url("../node_modules/bootstrap-icons/icons/x.svg") no-repeat 100%;
    mask: url("../node_modules/bootstrap-icons/icons/x.svg") no-repeat 100%;
    -webkit-mask-position-x: 50%;
    -webkit-mask-position-y: 50%;
}