body {
  background: #fafafa;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.navbar {
  height: 5vh;
}
.name-profile {
    margin: 0;
    cursor: pointer;
    display: inline-block;
}
.name-profile:hover .dropdown-profile {
    display: block;
}
.search-block:hover .dropdown-search {
    display: block;
}
.container{
  margin: 0 !important;
  width: 100% !important;
  max-width: none !important;
}
.profile {
  width: 100%;
  margin: 0;
  justify-content: flex-end;
}
.navbar_links {
  width: 60%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
.navbar_link {
  margin: 0;
  position: relative;
}
.digital_library-home {
  width: 20%;
}

.nav-tabs {
    border: none !important;
    cursor: pointer;
	color: #333;
    margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: inline-flex !important;
    justify-content: left;
	width: 100%;
    background-color: #EEEEEE;
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style:	none;
}
.nav>li>a {
	position: relative;
	display: block;
    border: none;
	height: 80%;
	color: #000 !important;
	text-decoration: none;
	background-color: transparent;
    width: 5vh;
    overflow: hidden;
	
}
.nav>li {
    border-radius: 0;
	float: left;
    width: 11vh;
    padding: 0;
	margin-bottom: 0;
    margin-left: 0;
    margin-right: 1vh;
	position: relative;
	display: inline-flex;
}

.active {
    background-color: #ffffff;
}