{% extends "Storage/base.html" %}
{% block content %}
    {% for upload in uploads %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ upload.user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ upload.user }}</a>
              <small class="text-muted">{{ upload.date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ upload.title }}</a></h2>
            <p class="article-content">{{ upload.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content%}
