{% extends "Storage/base.html" %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ upload.user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'User-uploads' upload.user.username %}">{{ upload.user }}</a>
              <small class="text-muted">{{ upload.date|date:"F d, Y" }}</small>
                {% if upload.user == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'Content-update' upload.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'Content-delete' upload.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ upload.title }}</h2>
            <p class="article-content">{{ upload.content }}</p>
          </div>
        </article>
{% endblock content%}
